html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: gainsboro;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next{
  background-color: gainsboro;
}

.card-body{
  box-shadow: 0px 0px 2px black;
  border-radius: 5px;
}

.num-size{
  font-size: x-large;
}

/* Medium devices (tablets, 768px and up) */

.containerIndex {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}

.containerHeader {
  margin-bottom : 40%
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .containerHeader {
      margin-bottom : 10%
  }
}